@font-face {
  font-family: "Roboto";
  src: url('../font/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url('../font/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url('../font/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url('../font/Roboto-Bold.ttf');
  font-weight: 700;
}

/* @import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
   font-family: "Roboto", sans-serif;
   font-weight: 700;
}

.content {
  font-size: 20px;
  /* line-height: 25px; */
  line-height: 1.2;
}
 