.box {
  letter-spacing: 0px;
  word-spacing: 5px;
}

.title a {
    /* text-decoration: underline overline line-through; */
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-transform: capitalize;
}

.text {
    word-wrap: break-word;
}

.box p{
    text-indent: 10px;
}
