.box{
    width: 200px;
    height: 250px;
    border: 1px solid red;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
    /* overflow: visible; */
    overflow-x: hidden;
    overflow-y: auto;
}

.box ul{
    width: 500px;
}