.box {
  border: 1px solid red;
  /* opacity: 0; */
  /* display: none; */
  /* display: block; */
  /* display: inline; */
  /* display: inline-block; */
  /* visibility: visible; */
  visibility: hidden;
}

/*
- inline
- block

- inline-block : sự kết hợp giữa inline va block
+ inline : nằm trên 1 dòng , chiều rộng mặc định theo nội dung
+ block : set width , height , padding-top , padding-bottom , margin-top , margin-bottom

Thuộc tính display có rất nhiều các giá trị phức tạp :
- flex
- inline - flex
- table
- table - cell
- list - item
....
=> Tách thành chuyên đề riêng
*/
