/* :active , :hover : tat ca cac the / :focus : the form
/* .btn:hover{
    background: green;
    color: wheat;
} */

/* .btn:active{
    background: green;
    color: wheat;
} */

/* .btn:focus{
    background: green;
    color: wheat;
}

/* input:focus{
    background: red; 
} */

/* h2:active{
    color: red;
} */

/* h2:hover{
    color: red;
} */

/* h2:focus{
    color : red;
}  */

.checkbox input:checked ~ span {
  color: blue;
}

/* .form input[disabled]{
    border:  1px solid red; 
} */

.form input:disabled {
  border: 1px solid red;
}

/* .products h2:not(.active){
    color: rebeccapurple;
} */

/* .products h2:first-child{
    color: red;
} */

/* .products h2:last-child{
    color: rgb(0, 255, 200);
}

.products h2:first-of-type{
    color: red;
}

.products h2:last-of-type{
    color: red;
} */

/* .products .item:last-child{
    color: red;
} */

/* .products h2:nth-child(3){
    color: red;
} */

/* .products h2:nth-of-type(3){
    color: red;
} */

.products h2:nth-child(2n + 2){
    color: red;
}
