*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.product{
    width: 200px;
    margin: 30px auto;
    border:  1px solid white;
}

.product img{
    max-width: 100%;
    height: auto;
    display: block;
}

.product .info{
    padding: 10px;
}

.product .info h3{
    font-size: 1.2rem;
}

.product .info h3 a{
    color: black;
    text-decoration: none;
}

.product .image{
    position: relative;
}

.product .sale{
    background: red;
    color:  white;
    border-radius: 3px;
    font-size: 0.85rem;
    padding: 2px 5px;
    position: absolute;
    bottom: 0;
    right: 5px;
}