*{
    padding: 0;
    margin: 0;
}

.container{
    width: 50%;
    /* border: 1px solid red; */
}

.box{
    background: green;
    width: 100vw;
    height: 100vh;
}

/*
vw = viewport-width
vh = viewport-height
*/