*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/*
Reset css
Base css
*/

.box{
    border: 1px solid red;
    padding: 30px;
    margin: 30px;
    width: 300px;
    box-sizing:border-box;
}