.check-box{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    position: relative;
    border: 1px solid gray;
    vertical-align: middle;
}

.checkbox label{
    display: block;
    line-height: 1.5;
}

.check-box::before{
    display: none;
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: white solid;
    border-width: 0px 1px 1px 0px;
    rotate: 45deg;
    left: 35%;
    top: 10%;
}

input[type='checkbox']:checked + label .check-box::before{
    display: inline-block;
}

input[type='checkbox']:checked + label .check-box{
    background: green;
}

input[type='checkbox']:disabled + label .check-box{
    background: gray;
}

input[type='checkbox']:disabled + label{
    color: gray;
}
