.box{
    width: 300px;
    border: 1px solid red;
    /* padding: 10px 20px 30px 40px; */
    /* padding: 1rem;
    padding-top: 50%; */
} 

.span{
    display: inline-block;
    border: 1px solid red;
    padding-left: 10px;
    padding-top: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
}