*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.song{
    width: 300px;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid red;
}

.song .song-item{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.song .song-item::before{
    content: "1";
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    background: red;
    color: white;
    border-radius: 50%;
    line-height: 30px ;
    text-align: center;
    margin-right: 5px;
}