*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.box{
    width: 500px;
    border: 1px solid red;
    margin: 30px auto;
    /* overflow: auto; */
}

.box::after{
    content: "";
    display: block;
    clear: both;
}

.col-1{
    width: 200px;
    height: 100px;
    background: green;
    float: left;
}

.col-2{
    width: 200px;
    height: 150px;
    background: red;
    float: left;
}

.text{
    clear: both;
}

.clearfix{
    clear: both;
    display: block;
}