.box{
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid green;
    border-top:  1px solid blue;
    border-bottom: 1px solid violet;
}

/*
style : solid , dashed , dotted , double;
*/

.content{
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent blueviolet transparent;
}