.box{
    border: 1px solid red;
    /* border-radius: 10px ;
    border-radius: 10px 10px 0 0;
    border-radius: 10px 20px; */
    border-top-left-radius: 20px;
}

.content{ 
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
}

.btn{
    border: none;
    background: red;
    color: rgb(0, 255, 17);
    padding: 5px 20px;
    border-radius: 99px;
}