/* #title{
    color: red;
}

.title{
    color: blue;
}

h2{
    color: rgb(0, 255, 34);
}

/* .content h1{
    color: red;
}
.element h1{
    color: blueviolet;
} */

.element > h1{
    color: chartreuse;
}

.menu > li > a{
    color: rgb(255, 0, 208);
}

/* h1.title{
    color: red;
}

h2.title{
    color: green;
} */

h1.title.first{
    color: rebeccapurple;
}
.title.last{
    color: rgb(214, 226, 43);
}









