*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    border: 1px solid red;
    margin: 0 auto;
}

.item{
    padding: 0 30px;
    background: green;
    border: 1px solid white;
    color: white;
}

.row{
   display: flex;
   height: 300px; 
   flex-direction: row;
   justify-content: flex-start;
   align-items : stretch;
   flex-wrap:  wrap;
   align-content: stretch;
   /* gap: 10px 20px; */
   /* row-gap: 10px;
   column-gap: 20px; */
}

/* .item:nth-child(2){
    padding: 15px 30px;
} */