*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    border: 1px solid red;
    margin: 0 auto;
}

.item{
    padding: 10px 20px;
    background: green;
    border: 1px solid white;
    color: white;
    /* flex-grow: 1; */
    /* flex-shrink: 0;
    flex-basis: 100px; */
    flex : 0 1 100px /* flex-grow: 0 flex-shrink: 1  flex-basis: 100px */
}

.item:nth-child(2){
    /* padding: 15px 30px; */
    /* flex-grow: 3; */
}

.item:nth-child(3){
    /* padding: 15px 30px; */
    /* flex-grow: 2; */
}

.row{
   display: flex;
   height: 300px; 
   flex-direction: row;
   justify-content: flex-start;
   align-items : stretch;
   /* flex-wrap:  wrap; */
   align-content: stretch;
   /* gap: 10px 20px; */
   /* row-gap: 10px;
   column-gap: 20px; */
}

