*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    border: 1px solid red;
    margin: 0 auto;
}

.item{
    padding: 10px 20px;
    background: green;
    border: 1px solid white;
    color: white;
}

.row{
    height: 400px;
    display: flex;
}

/* .item:nth-child(3){
    align-self: flex-start;
}

.item:nth-child(4){
    display: flex;
    align-items: center;
} */

/* sắp xếp 2 4 3 1 */

.item:nth-child(1){
    order: 4;
}

.item:nth-child(2){
    order: 1;
}

.item:nth-child(3){
    order: 3;
}

.item:nth-child(4){
    order: 2;
}
